body {
	padding-top: 65px;
	font-family: "Quicksand";
	color: #FFFFFF;
	background-color: #000000;
}

h1 {
	font-weight: bold;
}

h4 {
	font-size: 125%;
}

img {
	max-width: 100%;
	max-height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
}

#sitename {
	font-family: "Zapfino";
	font-size: 12px;
}

.avatar {

}

.default-content {
	margin-left: 4%;
	margin-right: 4%;
}

.page-header {
	margin-bottom: 14px;
	margin-top: -18px;
	padding-bottom: 0px;
	border-style: hidden;
}

.redacted {
	color: black;
	background-color: black;
}

.bio {
	border-bottom: 1px solid rgb(236, 236, 236);
}
