body {
	height: 100%;
	width: 100%;
	background-image: url('../images/dank420.png');
	background-size: cover;
	padding-top: 65px;
	font-family: "Comic Neue";
}

img {
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 25px;
}

#sitename {
	font-family: "Zapfino";
	font-size: 12px;
}
