html, body {
	padding-top: 30px;
	font-family: "Quicksand";
	color: #333333;
	background-color: #f5f0e9;
}

h1 {
	font-weight: bold;
}

h4 {
	font-size: 125%;
}

a {
	color: #52a7b7;
}

img {
	max-width: 100%;
	max-height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
}

.homepage {
	background: url("/images/background.png") no-repeat left top fixed;
	color: #bfbcbc;
	/*background-repeat: no-repeat;
	background-position: left;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-attachment: scroll;*/
}

.homepage .footer {
	position: absolute;
	bottom: 0;
}

@media (max-width: 700px) {
	#christmas {
		font-size: 30px;
	}
}

@media (max-width: 590px) {
	#christmas {
		font-size: 20px;
	}
}

#navbar-button {
	border-style: hidden;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FFF;
}

#sitename {
	font-family: "Zapfino";
	font-size: 12px;
}

#main-content {
	width: 100%;
	min-height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-left: 6px;
	padding-right: 6px;
}

thead * {
	text-align: center;
}

.col-image {
	padding-left: 6px;
	padding-right: 6px;
}

.feature-image {
	padding-bottom: 12px;
	padding-top: 0px;
}

.price-table td {
	text-align: center;
}

.footer {
	/*position: absolute;
	bottom: 0;*/
    width: 100%;
	line-height: 33px;
    background-color: #333333;
	color: #f5f0e9;
}

.table-image {
	display: block;
	height: auto;
}



.navbar-custom {
    background-color:#229922;
    color:#000000;
	background-size: 0 0;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.avatar {

}

.default-content {
}

.page-header {
	margin-bottom: 14px;
	margin-top: -0px;
	padding-bottom: 0px;
	border-style: hidden;
	border-width: 2px;
	border-color: rgb(175,175,175);
}

.page-title {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 200%;
}

.redacted {
	color: black;
	background-color: black;
}

.bio {
	border-top: 1px dotted rgb(175, 175, 175);
}

/* navbar */
.navbar-default {
    background-color: rgba(255, 255, 255, .92);
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
